*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  
  background-image: linear-gradient(-45deg, #F7C331,#DCC7AA, #F7882F);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;   
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;   
  text-rendering: optimizeLegibility;

}

body{
  /*background-color:#104547 ;
  background-image: url("../img/Restaurant-bg.png") ;*/

  background-image: linear-gradient(-45deg, #F7C331,#DCC7AA, #F7882F );
  perspective: 800px;


}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}


/*---------------*/
/* HEADER*/
/*---------------*/

.navbar{

    background-image: linear-gradient(-35deg, #F7C331,#DCC7AA, #F7882F);
    

}
.nav-item{
    margin-right: 20px;
    font-size: 16px;
    margin: 3px;
    color:black;
    display: inline-block;
    margin-left: 40px;
    
    
}
.nav-link a:link
.nav-link a:visited{

    margin-right: 20px;
    font-size: 16px;
    margin: 3px;
    padding: 8px 0;
    color: #4B5358;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.nav-link a:hover
.nav-link a:active{

    font-weight: 600px;
    border-bottom: #D2D6EF;    
}

.navbar-nav{
    text-align: right;
}

.navbar-brand img{
    width: 40px;
    margin-top: 5px;
    margin-left: 20px;
}

.navbar-brand a:hover
.navbar-brand a:active{
    font-weight: 600px;
    border-bottom: #000000;  
}


.navbar-nav a:link,
.navbar-nav a:visited{
    
    padding: 8px 0;
    color: #4B5358;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}
.navbar-nav a:hover,
.navbar-nav a:active{

    border-bottom: 2px solid #D2D6EF;
    font-weight: 600px;


}

/*-- CARD COMPONENTS--*/

.card{
  transform-style: preserve-3d;
  min-height: 20rem;
  width: 20rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(-45deg, #F7C331,#DCC7AA, #F7882F);
  padding: 0 25px 0 15px;

}

.foodCard{
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
 
}
.foodCard img{
  width: 10rem;
  border-radius: 25px;
  z-index: 2;
  transition: all 0.75s ease-out;

}

.circle{
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(-45deg, #F7C331,#DCC7AA, #F7882F);
  position:absolute;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.75s ease-out;


}

.info h1{
  font-size: 2rem;
  text-align: center;
  transition: all 0.75s ease-out;
}
.info h2{
  font-size:1rem;
  padding: 2rem 0rem;
  color: #6B7A8F;
  font-weight: lighter;
  transition: all 0.75s ease-out;

}


/*SHOW BUTTON INSIDE THE CARD*/


#showBtn{
  
  margin: 0 0 5px 2rem;
  padding: 0.5rem 2rem;
  background-color: white; 
  border: 2px solid #F7C331;
  color: black;
  font-size: 14px;
  transition-duration: 0.4s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  
}

#showBtn:hover{
  background-color: #F7C331;
  color: white;
}

#seeMore{

  display: none;

}

/*--Gallery--*/

.section-container{
  text-align: center;
  font-style: sans-serif;
  position: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.gallery{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  min-height: 50vh;
  max-width: 100%;
  max-height: 50%;
  grid-gap: 2rem;
  padding: 5%;

}

.img-container{

  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  max-width:100%; 
  height:auto;
  position: relative;


}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  
}

.img-container img:hover{
  transform: scale(1.2);
}

.text-block {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: black;
  background-image: linear-gradient(-45deg, #F7C331,#DCC7AA, #F7882F);
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.836);
  padding-right: 10%;
  transition: all 1s ease-in;
  display: none;
  
}

.text-block h4, .text-block p{
  opacity: 1.5;
}



