/* ------------------------
    BASIC SETUP
------------------------*/

/*COLOR PALETTE
#104547 - WARM BLACK
#4B5358 - DAVYS GREY
#727072 - SONIC SILVER
#D2D6EF - PERINWINKLE CRAYOLA?*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
    /*background-image: url("../img/Restaurant-bg.png");*/
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;   
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;   
    text-rendering: optimizeLegibility;

}


/*---------------*/
/* HEADINGS */
/*---------------*/
h1{
    font-family: sans-serif;
    color:  black ;
    position: center;
    margin: 50px;
    margin-top: 25px;
    font-size:24px;
}
h2{
    font-family: sans-serif;
    color:  black ;
    position: center;
    margin: 50px;
    margin-top: 22px;
    font-size:21px;
}
h3{
    font-family: sans-serif;
    color:  black ;
    position: center;
    margin: 50px;
    margin-top: 19px;
    font-size:20px;
}
p{
    font-family: sans-serif;
    color:  black ;
    position: center;
    margin: 1px;
    margin-top: 5px;
    font-size:19px;
    word-spacing: 150%;
    text-align: center;
}
/*---------------*/
/* HEADER*/
/*---------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    /*background-image: ;*/
    background-size: cover;
    background-position: center;
    height: 100px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 45px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    
    padding: 8px 0;
    color: #4B5358;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #D2D6EF;

}

/*---------------*/
/*Staff Validator*/
/*---------------*/

.staffPass{
    
    position:center;
    text-align: center;
    border: 2px solid black;
    padding: 20px 20px;
    width: 80%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
          
}

#passValidation{

    display:none;
    position: relative;
    padding: 10px;
    margin-top: 4px;
    text-align: center;

}

.valid{
    color: greenyellow;
}

.valid:before{
    position:relative;
    left: -8px;
    content:url("D:/College/Client Side Programing/CA3/CA3_Restaurant/img/passValidation/true.png");
    top: 3px;
}

.invalid{
    color: grey;
}

.invalid::before{
    position: relative;
    left: -8px;
    top: 3px;
    content: url("D:/College/Client Side Programing/CA3/CA3_Restaurant/img/passValidation/false.png");
}

.submitButton, .resetButton, .customer_button{
    
    background-color: white; 
    border: 2px solid #f44336;
    color: black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;

}

.submitButton:hover, .resetButton:hover{
    background-color: #f44336;
    color: white;
}

/*---------------*/
/*CUSTOMER GENERATOR*/
/*---------------*/

.customer_gen, .each_customer{
    
    position:center;
    text-align: center;
    border: 2px solid black;
    padding: 20px 20px;
    width: 60%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
                  
}
.each_customer{
    background-color:#D2D6EF;
}
#customer_button{
    
    background-color: white; 
    border: 2px solid #f44336;
    color: black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}
#customer_button:hover{
    background-color: #f44336;
    color: white;
}

/*---------------*/
/*FOOD LIST*/
/*---------------*/
.food_form{
    text-align: center;
    position:center;
    border: 2px solid black;
    padding: 20px 20px;
    width: 60%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
                  
}

table td, table tr, #starters tr{
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid black;

}

th{
    padding: 20px 20px;
    width: 45%;
}




